
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutZg.cshtml";
}

<div class="container mt10">
    <div class="row">
        <!--start left -->
        <div class="col-xs-12  col-lg-9 pr0">
            <!--start 发布简历 -->
            <style>
                .form-group {
                    padding-right: 50px;
                }

                .form-group span {
                    line-height: 30px;
                }
            </style>
            <form id="form_jlAdd" action="/Jianli/getAdd" method="post">
                <div class="box pl15">
                    <h4>上传头像</h4>
                    <div class="d-flex flex-row">
                        <img class="img-rounded" width="100rpx" src="/imgs/ntouxiang.png" alt="">
                        仅支持jpg/jpeg/gif/png格式，大小不超过4M
                    </div>2
                    <hr>
                    <h4>基础信息</h4>  
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                            <span style="color: red;">&nbsp;*&nbsp;&nbsp;</span><span>姓名:</span>
                        </div>
                        <button class="btn btn-danger" type="submit">提交</button>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                            <input id="" name="jlName" class="form-control" type="text" name="">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                            <span style="color: red;">&nbsp;*&nbsp;&nbsp;</span><span>联系方式:</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                            <input id="" class="form-control" type="text" name="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                            <span style="color: red;">&nbsp;*&nbsp;&nbsp;</span><span>性别:</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                            <input id="" class="form-control" type="text" name="">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                            <span style="color: red;">&nbsp;*&nbsp;&nbsp;</span><span>出生年份:</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                            <input id="" class="form-control" type="text" name="">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                            <span style="color: red;">&nbsp;*&nbsp;&nbsp;</span><span>学历:</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                            <input id="" class="form-control" type="text" name="">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                            <span style="color: red;">&nbsp;*&nbsp;&nbsp;</span><span>求职岗位:</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                            <input id="" class="form-control" type="text" name="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                            <span style="color: red;">&nbsp;*&nbsp;&nbsp;</span><span>电子邮箱:</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                            <input id="" class="form-control" type="text" name="">
                        </div>

                    </div>
                    <hr>
                    <h4>培训经历</h4>
                    <div id="addPeixun" style="color: #155fa8;">
                        <br>
                        <i class="glyphicon glyphicon-plus-sign"></i> 添加培训经历
                    </div>
                    <div class="row form-group peixun">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>培训机构:</span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 text-left mt15">
                                <input id="" class="form-control" type="text" name="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>起止时间:</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-left mt15">
                                <input id="" class="form-control" type="text" name="" placeholder="起">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-left mt15">
                                <input id="" class="form-control" type="text" name="" placeholder="止">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>培训岗位:</span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                                <input id="" class="form-control" type="text" name="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>培训结果:</span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 text-left mt15" style="color: black;">
                                <textarea placeholder="请填写取得证书及考核成绩等内容..." name="" class="form-control" rows="4"></textarea>

                            </div>
                        </div>
                        <div class="row peixun-row mt10">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span style="color: red;">&nbsp;&nbsp;&nbsp;</span><span></span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 text-left mt15">
                                <button type="button" class="btn btn-primary">保存</button>
                                <button id="pxClose" type="button" class="btn btn-default">取消</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4>教育经历</h4>
                    <div id="addJiaoyu" style="color: #155fa8;">
                        <br>
                        <i class="glyphicon glyphicon-plus-sign"></i> 添加教育经历
                    </div>
                    <div class="row form-group jiaoyu">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>学校名称:</span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 text-left mt15">
                                <input id="" class="form-control" type="text" name="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>学习时间:</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-left mt15">
                                <input id="" class="form-control" type="text" name="" placeholder="起">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-left mt15">
                                <input id="" class="form-control" type="text" name="" placeholder="止">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>获得学历:</span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 text-left mt15">
                                <input id="" class="form-control" type="text" name="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span>经历描述:</span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 text-left mt15">
                                <textarea placeholder="请简要描述所学课程及在校经历..." name="" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row peixun-row mt10">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right mt15">
                                <span style="color: red;">&nbsp;&nbsp;&nbsp;</span><span></span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 text-left mt15">
                                <button type="button" class="btn btn-primary">保存</button>
                                <button id="jyClose" type="button" class="btn btn-default">取消</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4>自我评价</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <textarea placeholder="写一段自我介绍吧，让更多的人认识你..." name="" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            

            <script>
					//添加培训经历
					$('.peixun').hide();
					$("#addPeixun").click(function () {
						$('.peixun').show();
					});
					$("#pxClose").click(function () {
						$('.peixun').hide();
					});
					//添加教育经历
					$('.jiaoyu').hide();
					$("#addJiaoyu").click(function () {
						$('.jiaoyu').show();
					});
					$("#jyClose").click(function () {
						$('.jiaoyu').hide();
					});
            </script>
            <!--end 发布简历 -->
        </div>
        <!--end left -->
        <!--start left -->
        <div class="col-xs-12  col-lg-3">
            <div class="box">
                <div id="card" class="row">
                    <a href="#">
                        <div class="right-card team">
                            <div style="float: left;">
                                <i class="fa fa-superpowers fa-4x"></i>
                            </div>
                            <div style="float:right">
                                <span>找项目</span>
                                <br>
                                免费发布施工队信息
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="right-card xm">
                            <div style="float: left;padding:0 15px">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div style="float:right">
                                <span>找队伍</span>
                                <br>
                                免费发布招工信息
                            </div>
                        </div>
                    </a>

                </div>
                <img src="/imgs/zp.png" class="img-responsive img-rounded" alt="Image">
            </div>
        </div>
        <!--end left -->
    </div>

</div>

