body {
    background-color: #f5f5f5;
}

a {
    color: #333;
    text-decoration: none;
}

.top {
    background: #0c5daa;
    height: 35px;
    color: white;
    padding: 10px;
}

div.top a:active {
    color: white;
    font-size: 1.3rem;
}

div.top a:hover {
    color: white;
    font-size: 1.3rem;
}

div.top a:link {
    color: white;
    font-size: 1.3rem;
}

div.top a:visited {
    color: white;
    font-size: 1.3rem;
}

.top em {
    width: 20px;
}

.header {
    background: white;
    padding: 20px;
}

.box {
    background: white;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
}

.page-header {
    margin-top: 10px !important;
}

.footer {
    background: #011b31;
    height: 180px;
}

.footerC {
    background: #010f19;
    height: 40px;
}

.commonOption {
    /* border-top: 1px solid #aaa;
	margin: 20px 0 0 0;
	padding: 3px 0 0 0 */
}

    .commonOption .rows {
        overflow: hidden;
        zoom: 1;
        /* margin: 8px 0 0 0; */
        padding: 0 0 0 6px
    }

        .commonOption .rows .lts {
            display: block;
            padding: 0 0 0 21px;
            float: left;
            line-height: 23px;
            font-size: 14px;
            color: #bcbcbc;
            margin: 8px 0 0 0
        }

        .commonOption .rows .ic1 {
            background: url(/images/lIc1.png) no-repeat 0 center
        }

        .commonOption .rows .ic2 {
            background: url(/images/lIc2.png) no-repeat 0 center
        }

        .commonOption .rows .ic3 {
            background: url(/images/lIc3.png) no-repeat 0 center
        }

        .commonOption .rows .rit {
            float: left;
            overflow: hidden
        }

            .commonOption .rows .rit .ins {
                overflow: hidden;
                zoom: 1
            }

            .commonOption .rows .rit a {
                display: block;
                cursor: pointer;
                height: 23px;
                line-height: 23px;
                white-space: nowrap;
                padding: 0 8px;
                float: left;
                margin: 8px 14px 0 0;
                transition: all linear .2s
            }

                .commonOption .rows .rit a:hover,
                .commonOption .rows .rit .cur {
                    background: #d9251d;
                    color: #fff
                }

            .commonOption .rows .rit .zkBtn {
                display: block;
                width: 23px;
                height: 23px;
                background: url(/images/zksqic.png) no-repeat center;
                cursor: pointer;
                float: left;
                margin: 8px 0 0 0
            }

            .commonOption .rows .rit .hidMenu {
                display: none
            }

    .commonOption .showAll .rit .zkBtn {
        background-image: url(/images/zksqics.png)
    }

    .commonOption .showAll .rit .hidMenu {
        display: block
    }

.mt15 {
    margin-top: 15px;
}

.mt25 {
    margin-top: 25px;
}

.mt10 {
    margin-top: 10px;
}

.pr0 {
    padding-right: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl15 {
    padding-top: 15px !important;
}

.fonts18 {
    font-size: 14px;
}

.right-card.xm {
    background: #fb835a;
}

.right-card.team {
    background: #25b3ff;
    margin-bottom: 15px;
}

.right-card span {
    font-size: 1.9rem;
}

.right-card {
    border-radius: 4px;
    padding: 15px;
    height: auto;
    overflow: hidden;
    color: #FFF;
}

#card {
    padding: 15px;
}

.footer h2 a{
    line-height: 25px;
    color: #FFF;
    font-size: 16px;
}

.footer li a{
    list-style: none;
    line-height: 25px;
    color: #95b3cc;
    font-size: 12px;
}
.footer li {
    list-style: none;
    line-height: 25px;
    color: #95b3cc;
    font-size: 12px;
}

.zg_detail li {
    list-style: none;
    line-height: 40px;
}


/*浮云菜单开始*/

.all {
    position: fixed;
    width: 0px;
    overflow: visible;
    top: 150px;
}

.all a {
        text-decoration: none;
    }

.boxn {
    display: inline-block;
    float: right;
    clear: both;
}

.card {
    position: relative;
    left: 32px;
    padding: 16px 32px 16px 64px;
    margin: 8px;
    x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
    background: #fff;
    transition: all 0.3s ease-in-out 0.1s;
    /* ^渡*/
}

 .card:hover {
        position: relative;
        left: 100%;
        margin-left: -32px;
        box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.5), 0 8px 8px -8px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
    }

.card-content {
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.bg-01 {
    background: #539770;
}

.bg-02 {
    background: #4B7D74;
}

.bg-03 {
    background: #8DC2BC;
}

.bg-04 {
    background: #EDD6B4;
}

.bg-05 {
    background: #BE7467;
}

.bg-06 {
    background: #E2AE63;
}

/*浮云菜单结束*/


/*城市选择开始*/
.aui_state_box {
    font: 12px/1.5 Tahoma
}

.aui_state_box {
    width: 0px;
    height: 0px;
    position: fixed;
    left: 50%;
    top: 0px;
    z-index: 99999;
}

.aui_state_box_bg {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0.6
}

.aui_alert_zn {
    position: relative;
    background: #FFF
}

    .aui_alert_zn li {
        list-style-type: none;
        font: 12px/1.5 宋体,Arial,sans-serif;
    }

    .aui_alert_zn a {
        text-decoration: none;
        color: #0077b3;
    }

.aui_alert {
    font: 12px/1.5 宋体,Arial,sans-serif;
    position: absolute;
    margin: 0px auto;
}

.aui_outer {
    text-align: left;
    position: absolute;
    left: -452px;
    top: 60px;
}

.aui_alert a {
    color: #0077b3;
    text-decoration: none;
}

.aui_alert table {
    border-collapse: collapse;
    border-spacing: 0
}

.aui_header {
    background: #FFF;
}

table.aui_border, table.aui_dialog {
    border: 0;
    margin: 0;
    border-collapse: collapse;
    width: auto
}

.aui_footer, .aui_header, .aui_main {
    padding: 0
}

.aui_header {
    font: 12px/1.11 Tahoma, Arial, Helvetica;
    border-bottom: 1px solid #eee
}

.aui_title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.aui_close {
    display: block;
    position: absolute;
    text-decoration: none;
    outline: 0
}

    .aui_close:hover {
        text-decoration: none
    }

.aui_main {
    text-align: left;
    min-width: 9em;
    min-width: 0\9
}

.aui_content {
    display: inline-block;
    text-align: left;
    border: none 0;
    vertical-align: middle
}

    .aui_content .timer {
        text-align: center;
        color: red
    }

.aui_icon {
    vertical-align: top
}

    .aui_icon div {
        width: 48px;
        position: relative;
        height: 48px;
        margin: 20px -15px 10px 10px;
        background-position: center center;
        background-repeat: no-repeat
    }

.aui_buttons {
    padding: 0px 20px;
    text-align: center;
    background-color: #FFF
}

    .aui_buttons a, .aui_buttons button {
        margin: 0 10px 10px 0;
    }

.aui_inner {
    background: #FFF
}

.aui_titleBar {
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 5px;
    bottom: 30px;
    z-index: 1
}

.aui_title {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px 0 15px;
    color: #000;
    font-weight: 400
}

.aui_close {
    background-image: url(../img/simple_s_468f567e.png);
    background-repeat: no-repeat
}

.aui_close {
    top: 15px;
    right: 8px;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    background-position: left -53px;
    overflow: hidden
}

    .aui_close:hover {
        background-position: right -67px
    }

.aui-btn {
    display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: visible
}

    .aui-btn-disabled, .aui-btn:active, .aui-btn:focus, .aui-btn:hover, .aui-btn[disabled] {
        color: #333;
        background: #e6e6e6
    }

    .aui-btn:active {
        background: #ccc \9
    }

    .aui-btn:focus, .aui-btn:hover {
        color: #333;
        text-decoration: none;
        background-position: 0 -15px
    }

    .aui-btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }

    .aui-btn.active {
        background-image: none;
        outline: 0
    }

.aui-btn-primary {
    float: right;
    color: #fff;
    background: #3d9ccc;
    border: 1px #3c98c7 solid;
}

    .aui-btn-primary.active, .aui-btn-primary.disabled, .aui-btn-primary:focus, .aui-btn-primary:hover, .aui-btn-primary[disabled] {
        color: #fff;
        background: #3689b3
    }

    .aui-btn-primary.active {
        background: #3d9ccc
    }

.aui-btn-light {
    float: right;
    color: #3d9ccc;
    background: #fff;
    border: 1px #d2edfa solid;
}

    .aui-btn-light.active, .aui-btn-light.disabled, .aui-btn-light:active, .aui-btn-light:focus, .aui-btn-light:hover, .aui-btn-light[disabled] {
        color: #00528c;
        background: #f5f9ff
    }

.view-all .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.view-all .clearfix {
    *zoom: 1;
}

.view-all .clearfix {
    padding-left: 10px
}

.data-error {
    display: none;
    top: 10px;
    right: 10px;
    padding: 3px 15px;
    color: #b94a48;
    border-color: #eed3d7;
    background-color: #f2dede;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
}

.data-result {
    background-color: #FFF;
    line-height: 32px;
    padding: 10px 34px;
    font-size: 12px;
}

    .data-result em {
        color: #678;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        font-style: italic;
    }

    .data-result span {
        display: inline-block;
        vertical-align: middle;
        background-color: #5297cc;
        border-radius: 15px;
        padding: 0 14px 2px;
        color: #fff;
        margin: 0px 5px 2px 0;
        line-height: 26px;
        white-space: nowrap;
    }

        .data-result span i {
            display: inline-block;
            margin-left: 5px;
            color: #a9cbe6;
            font-size: 18px;
            cursor: pointer;
            vertical-align: bottom;
            *vertical-align: middle;
            margin-left: 5px;
            margin-right: -5px;
            font-style: normal;
        }

            .data-result span i:hover {
                color: #fff;
            }

.data-tabs {
    background-color: #FFF;
}

    .data-tabs ul {
        *zoom: 1;
        padding: 0 34px;
        margin: 0
    }

        .data-tabs ul:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .data-tabs ul li {
            float: left;
            position: relative;
            border-width: 1px 1px 0 1px;
            border-color: #d9d9d9;
            border-style: solid;
            line-height: 29px;
            margin-right: -1px;
            border-radius: 2px;
        }

            .data-tabs ul li a {
                display: block;
                padding: 0 15px;
                color: #333;
            }

                .data-tabs ul li a em {
                    display: inline-block;
                    vertical-align: middle;
                    width: 12px;
                    height: 6px;
                    overflow: hidden;
                    margin-left: 15px;
                    margin-right: -5px;
                    background: url(../img/dropdown_369a8965.png);
                }

                .data-tabs ul li a:hover, .data-tabs ul li a:active, .data-tabs ul li a:focus {
                    color: #333;
                    text-decoration: none;
                }

            .data-tabs ul li.active {
                padding-bottom: 1px;
                margin-bottom: -1px;
                background-color: #fcfcfc;
            }

.data-title {
    margin-left: 25px;
    font-size: 12px;
    font-weight: bold
}

.data-container {
    margin-left: 34px;
    margin-right: 34px;
    min-height: 350px;
    display: none;
    padding-left: 0
}

    .data-container a.d-item {
        line-height: 30px;
        padding: 0 10px;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
    }

        .data-container a.d-item:hover, .data-container a.d-item:active, .data-container a.d-item:focus {
            text-decoration: none;
        }

        .data-container a.d-item:hover {
            background-color: #d5e9f2;
        }

        .data-container a.d-item:focus {
            outline: none;
        }

    .data-container a.d-item-active, .data-container a.d-item-active:hover {
        color: #fff;
        background-color: #3d9ccc;
    }

    .data-container .view-all {
        overflow: hidden;
    }

.data-container-city {
    display: block;
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    margin: 0 34px 18px;
    padding: 14px 0;
    border-radius: 2px
}

    .data-container-city .clearfix {
        padding-left: 10px
    }

.data-container.data-container-city ul li {
    float: left;
    margin-bottom: 1px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.data-container.data-container-city a.d-item label {
    background-color: #5297cc;
    color: #fff;
    display: none;
    font-family: Arial;
    line-height: 16px;
    margin-left: 4px;
    padding: 0 4px;
}

.li-disabled {
    cursor: not-allowed;
    color: #ccc;
}

    .li-disabled a {
        color: #ccc;
    }

.data-search {
    float: right;
    margin-right: 34px;
}

    .data-search input {
        line-height: 26px;
        height: 26px;
    }

    .data-search .run {
        border: 1px solid #d9d9d9;
        width: 200px;
    }

    .data-search .searchList {
        display: none;
        background: #F8F8FF;
        position: absolute;
        z-index: 100;
        border: 1px solid #d9d9d9;
    }

        .data-search .searchList em {
            float: right;
            font-style: normal;
        }

.area_menu {
    display: block;
    padding: 2px 3px
}

.data-search a:hover {
    color: #3f9ffc;
}
/*城市选择结束*/

/* logo 图标链接 */
.icon_box {
    display: flex;
}

.licon_text {
    float: left;
}

.licon_text_img {
    height: 60px;
}

.licon_1 {
    text-align: center;
    height: 60px;
    margin: 0 10px 0 10px;
    border-left: dotted #f1f0eb 2px;
    border-right: dotted #f1f0eb 2px;
    padding: 0 15px 0 15px;
}

.licon {
    text-align: center;
    height: 60px;
    margin: 0 10px 0 10px;
    border-right: dotted #f1f0eb 2px;
    padding: 0 15px 0 0;
}

.licon_ico {
    height: 35px;
}

.licon_ico_text {
    color: #333;
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;
}