 <!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- Start 内容底部 -->
<div class="row footer">
    <div class="col-md-6 text-left">
        Copyright &copy; 2019.五点网络 All rights reserved
    </div>
    <div class="col-md-6 text-right">
        五点最小管理系统
    </div>
</div>
<!-- End 内容底部 -->