  <!-- 信息统计 -->
<div class="col-md-12">
    <ul class="topstats clearfix">
        <li class="arrow"></li>
        <li class="col-xs-6 col-lg-2">
            <span class="title"> <i class="fa fa-users"></i> 报名总人数</span>
            <h3 class="color-up">401</h3>
            <a href="/SysAdmin/Index">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        </li>
        <li class="col-xs-6 col-lg-2">
            <span class="title"><i class="fa fa-check-square-o" aria-hidden="true"></i>已缴费总人数</span>
            <h3>22 </h3>
            <a href="/SysAdmin/FList">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        </li>
        <li class="col-xs-6 col-lg-2">
            <span class="title"><i class="fa fa-minus-square" aria-hidden="true"></i> 未缴费总人数</span>
            <h3>45</h3>
            <a href="/SysAdmin/FNList">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        </li>
        <li class="col-xs-6 col-lg-2">
            <span class="title"><i class="fa fa-plus-square" aria-hidden="true"></i>继续教育</span>
            <h3>15 </h3>
            <a href="/SysAdmin/JxList">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        <li class="col-xs-6 col-lg-4">
            <span class="sparkline-pie"><canvas width="100" height="50" style="display: inline-block; width: 100px; height: 50px; vertical-align: top;"></canvas></span>
        </li>

    </ul>
</div>
<!-- end 信息统计 -->
