<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="招聘" http-equiv="keywords">
    <meta name="description" content="招聘,培训">
    <meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="renderer" content="webkit" />

    <title>甘肃建设人力</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/mobile/css/index.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/swiper.min.css">
    <!-- public_css -->
    <link rel="stylesheet" type="text/css" href="/mobile/css/public/public_lib.css">

    <!-- js -->
    <script type="text/javascript" src="/mobile/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/mobile/js/swiper.min.js"></script>
    <script type="text/javascript" src="/mobile/js/public.js"></script>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/mobile/css/index.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/swiper.min.css">


    <!-- zy_public_css -->
    <link rel="stylesheet" type="text/css" href="/mobile/css/zy_public.css">

    <!-- 子页css -->
    <link rel="stylesheet" type="text/css" href="/mobile/css/children.css">

    <!-- 入驻 新闻 登录css -->
    <link rel="stylesheet" type="text/css" href="/mobile/css/news_login_apply.css">
</head>
<body>
    <!--页面主体部分-->
    @RenderBody()
</body>
</html>
