<div class="foot_menu">
    <ul>
        <li class="cur">
            <a href="/mobile/index">
                <i><img src="/mobile/images/menu_icon01_r.png"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="/mobile/zpfabu">
                <i><img src="/mobile/images/company_img/menu_icon02.png"></i>
                <span>发布</span>
            </a>
        </li>
        <li class="info">
            <a href="/mobile/msg">
                <i><img src="/mobile/images/menu_icon03.png"></i>
                <span>消息</span>
                <em></em>
            </a>
        </li>
        <li>
            <a href="/mobile/user">
                <i><img src="/mobile/images/menu_icon04.png"></i>
                <span>我的</span>
            </a>
        </li>
    </ul>
</div>


