<div class="footer_box">
    <div class="footer">
        <h2>
            <a href="/mobile/login">登录</a>
            <!--
            -->
            <a href="/mobile/reg">注册</a>
            <!--
            -->
        </h2>
        <h3>
            <span><a href="#">施工资料</a></span>
            <span><a href="#">行业新闻</a></span>
            <span><a href="#">联系我们</a></span>
            <span><a href="#">帮助中心</a></span>
        </h3>
        <div class="txt">
            <p>甘肃建投人力资源公司</p>
        </div>
    </div>
</div>

