
@{
    ViewBag.Title = "mHotwork";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="hot_work bgwh mb6">
    <div class="title hot_tit">
        <h2><span>热门求职</span></h2>
        <a href="rc_list.html">查看更多></a>
    </div>
    <ul>
        <li><a href="#">施工员</a></li>
        <li><a href="#">质量员</a></li>
        <li><a href="#">安全员</a></li>
        <li><a href="#">标准员</a></li>
        <li><a href="#">材料员</a></li>
        <li><a href="#">机械员</a></li>
        <li><a href="#">劳务员</a></li>
        <li><a href="#">一级建造师</a></li>
        <li><a href="#">二级建造师</a></li>
        <li><a href="#">木工</a></li>
        <li><a href="#">钢筋工</a></li>
    </ul>
</div>
