<div class="swiper-container nav_iconbox">
    <div class="swiper-wrapper">
        <!-- 每个ul有8个li，不能多于8个 -->
        <ul class="swiper-slide">
            <li>
                <a href="/mobile/lwInfo">
                    <img src="/mobile/images/company_img/icon01.png">
                    <span>找人才</span>
                </a>
            </li>
            <li>
                <a href="/mobile/zgInfo">
                    <img src="/mobile/images/icon02.png">
                    <span>找项目</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/mobile/images/company_img/icon03.png">
                    <span>匹配人才</span>
                </a>
            </li>
        </ul>
    </div>
    <script>
		    var swiper = new Swiper('.nav_iconbox', {
		        speed:500,
		        autoplayDisableOnInteraction : false,
		    });
    </script>
</div>