
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="search_bomb_box">
    <div class="search_top fix sy_search_top">
        <a><img src="/mobile/images/back_jt.png"><span>返回</span></a>
        <div>
            <form>
                <select>
                    <option>人才</option>
                    <option>队伍</option>
                </select>
                <input type="text" name="" placeholder="请输入关键词搜索">
                <!--
                -->
                <button type="submit"><img src="/mobile/images/icon_search.png"></button>
            </form>
        </div>
    </div>
    <div class="search_txt">
        <h2>大家都在搜</h2>
        <ul>
            <li><a href="#">施工员</a></li>
            <li><a href="#">质量员</a></li>
            <li><a href="#">安全员</a></li>
            <li><a href="#">标准员</a></li>
            <li><a href="#">材料员</a></li>
            <li><a href="#">机械员</a></li>
            <li><a href="#">劳务员</a></li>
            <li><a href="#">一级建造师</a></li>
            <li><a href="#">二级建造师</a></li>
            <li><a href="#">木工</a></li>
            <li><a href="#">钢筋工</a></li>

            <li><a href="#">施工员</a></li>
            <li><a href="#">质量员</a></li>
            <li><a href="#">安全员</a></li>
            <li><a href="#">标准员</a></li>
            <li><a href="#">材料员</a></li>
            <li><a href="#">机械员</a></li>
            <li><a href="#">劳务员</a></li>
            <li><a href="#">一级建造师</a></li>
            <li><a href="#">二级建造师</a></li>
            <li><a href="#">木工</a></li>
            <li><a href="#">钢筋工</a></li>

            <li><a href="#">施工员</a></li>
            <li><a href="#">质量员</a></li>
            <li><a href="#">安全员</a></li>
            <li><a href="#">标准员</a></li>
            <li><a href="#">材料员</a></li>
            <li><a href="#">机械员</a></li>
            <li><a href="#">劳务员</a></li>
            <li><a href="#">一级建造师</a></li>
            <li><a href="#">二级建造师</a></li>
            <li><a href="#">木工</a></li>
            <li><a href="#">钢筋工</a></li>

        </ul>
    </div>
</div>

<script type="text/javascript">
	$(function(){
		$(".search-box").mousedown(
			function(){
				$(".search_bomb_box").show()
				$(".module-layer").hide()
				$(".module-content").hide()
			}
		)
		$(".search_bomb_box .search_top>a").mousedown(
			function(){
				$(".search_bomb_box").hide()
				$(".module-layer").show()
				$(".module-content").show()
			}
		)
	})
</script>
