<div class="col-xs-12  col-lg-3 mt10">
    <div class="list-group text-center">
        <a href="#" class="list-group-item active">
            施工资料
        </a>
        <a href="#" class="list-group-item">合同</a>
        <a href="#" class="list-group-item">文案</a>
        <a href="#" class="list-group-item">法律</a>
        <a href="#" class="list-group-item">报价</a>
        <a href="#" class="list-group-item">知识</a>
    </div>
</div>