@model Models.UserInfo

<div class="col-xs-12  col-lg-3 pr0 mt10">
    <div class="list-group text-left">

        <a href="#" class="list-group-item active text-center">
            <i class="glyphicon glyphicon-user"></i> <b>个&nbsp;人&nbsp;中&nbsp;心</b>
@*             @if (Model.userRole == 1) *@
@*             { *@
@*                 <a href="#" style="font-size: 11px;">[进入管理后台]</a> *@
@*             } *@

        </a>
        <a href="/ZhaoGong/UserCenter" class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-lg-10">
                    个人信息
                </div>
                <div class="col-xs-2 col-lg-2">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
            </div>
        </a>
        <a href="/zhaopin/zpFabu" class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-lg-10">
                    发布招聘信息
                </div>
                <div class="col-xs-2 col-lg-2">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
            </div>
        </a>
        <a href="/zhaohuo/zhFabu" class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-lg-10">
                    发布找活信息
                </div>
                <div class="col-xs-2 col-lg-2">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
            </div>
        </a>
        <a href="/zhaogong/MyFabu/?userPhone=@this.User.Identity.Name" class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-lg-10">
                    已发布的信息
                </div>
                <div class="col-xs-2 col-lg-2">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-lg-10">
                    实名认证
                </div>
                <div class="col-xs-2 col-lg-2">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-lg-10">
                    积分来源
                </div>
                <div class="col-xs-2 col-lg-2">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
            </div>
        </a>

    </div>

</div>