<!--start footer-->
<div class="footer mt15 visible-lg" style="padding-top: 20px">
    <div class="container">

        <div class="col-lg-9">
            <div class="row">

                <div class="col-lg-3">

                    <ul>
                        <h2><a href="#">施工资料</a></h2>
                        <li><a href="/article/list/?kWord=合同">合同方案</a></li>
                        <li><a href="/Article/List/?kWord=法律">法律报价</a></li>
                        <li><a href="/Article/List/?kWord=知识">施工知识</a></li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <h2><a href="#">行业新闻</a></h2>
                        <li><a href="/Article/List/?kWord=行业新闻">行业新闻</a></li>
                        <li><a href="/Article/List/?kWord=行业动态">行业动态</a></li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <h2><a href="#">联系我们</a></h2>
                        <li><a href="/Article/List/?kWord=联系电话">联系电话</a></li>
                        <li><a href="/Article/List/?kWord=公司地址">公司地址</a></li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <h2><a href="#">帮助中心</a></h2>
                        <li><a href="/Article/List/?kWord=服务内容">服务内容</a></li>
                        <li><a href="/Article/List/?kWord=常见问题">常见问题</a></li>
                        <li><a href="/Article/List/?kWord=留言沟通">留言沟通</a></li>

                    </ul>
                </div>
                <div class="col-lg-3">

                </div>

            </div>
        </div>
        <div class="col-lg-3 mt25">

            <img src="/imgs/webchat.jpg" width="100px">

        </div>
    </div>
</div>
<div class="footerC">
    <div class="container">
        <div class="row text-right" style="line-height: 40px; font: size 14px;padding-right: 20px">
            版权所有©2019 - 2020 甘肃建投人力资源有限责任公司
        </div>
    </div>
</div>
<!--end footer-->