	<!--start header -->
<style>
    /* logo 图标链接 */
    .icon_box {
        display: flex;
        margin-right: -30px;
    }

    .licon_text {
        float: left;
    }

    .licon_text_img {
        height: 60px;
    }

    .licon_1 {
        text-align: center;
        height: 60px;
        margin: 0 10px 0 10px;
        border-left: dotted #f1f0eb 2px;
        border-right: dotted #f1f0eb 2px;
        padding: 0 15px 0 15px;
    }

    .licon {
        text-align: center;
        height: 60px;
        margin: 0 10px 0 10px;
        border-right: dotted #f1f0eb 2px;
        padding: 0 15px 0 0;
    }

    .licon_ico {
        height: 35px;
    }

    .licon_ico_text {
        color: #333;
        font-weight: bold;
        font-size: 10px;
        margin-top: 5px;
    }
</style>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <a href="/"><img src="/imgs/logo1.png" height="70em" style="margin-top: -2px;margin-left: -40px;"></a>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="icon_box pull-right">
                    <div class="licoc_text">
                        <a href="/Article/GetDetail?id=4">
                            <img class="licon_text_img" src="/imgs/licotext.png" alt="">
                        </a>
                    </div>
                    <a href="/Page/Index?id=1">
                        <div class="licon_1">
                            <div class="licon_ico"><img class="licon_ico" src="/imgs/licon1.png" alt=""></div>
                            <div class="licon_ico_text">人力外包</div>
                        </div>
                    </a>
                    <a href="/Page/Index?id=2">
                        <div class="licon">
                            <div class="licon_ico"><img class="licon_ico" src="/imgs/licon2.png" alt=""></div>
                            <div class="licon_ico_text">求职招聘</div>
                        </div>
                    </a>
                    <a href="/Page/Index?id=3">
                        <div class="licon">
                            <div class="licon_ico"><img class="licon_ico" src="/imgs/licon3.png" alt=""></div>
                            <div class="licon_ico_text">劳务外包</div>
                        </div>
                    </a>
                    <a href="/Page/Index?id=4">
                        <div class="licon">
                            <div class="licon_ico"><img class="licon_ico" src="/imgs/licon4.png" alt=""></div>
                            <div class="licon_ico_text">培训信息</div>
                        </div>
                    </a>
                    <a href="/Page/Index?id=5">
                        <div class="licon">
                            <div class="licon_ico"><img class="licon_ico" src="/imgs/licon5.png" alt=""></div>
                            <div class="licon_ico_text">校企合作</div>
                        </div>
                    </a>
                    <a href="/Page/Index?id=6">
                        <div class="licon">
                            <div class="licon_ico"><img class="licon_ico" src="/imgs/licon6.png" alt=""></div>
                            <div class="licon_ico_text">创新创业</div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!--end header -->