
<div class="col-xs-12  col-lg-3">
    <div class="box">
        <div id="card" class="row">
            <a href="/zhaogong/xminfo">
                <div class="right-card team">
                    <div style="float: left;">
                        <i class="fa fa-superpowers fa-4x"></i>
                    </div>
                    <div style="float:right">
                        <span>找项目</span>
                        <br>
                        免费发布施工队信息
                    </div>
                </div>
            </a>
            <a href="/zhaoHuo/zhinfo">
                <div class="right-card xm">
                    <div style="float: left;padding:0 15px">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div style="float:right">
                        <span>找队伍</span>
                        <br>
                        免费发布招工信息
                    </div>
                </div>
            </a>

        </div>
        <img src="/imgs/zp.png" class="img-responsive img-rounded" alt="Image">
    </div>
</div>