
@{
    ViewBag.Title = "findPwd";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

    <div class="zy_login_box">
        <header class="zy_search_top_box">
            <div class="zy_title_top fix">
                <div class="one" href="javascript:" onclick="history.back();">
                    <img src="/mobile/images/back_jt.png"><span>返回</span>
                </div>
                <h1>密码找回</h1>
                <div class="r">
                    <a href="/mobile/login">账户登录</a>
                </div>
            </div>
        </header>

        <!-- 内容框 -->
        <div class="zy_module-content">
            <div class="login_box zhuce_box mima_box">
                <div class="zhuce_con">
                    <div class="zhuce_tel">
                        <form>
                            <div class="form_line">
                                <label>
                                    <a><img src="/mobile/images/zy_icon_user.png"></a><input type="text" name=""
                                                                                             placeholder="请输入手机号">
                                </label>
                            </div>
                            <div class="form_line yzm">
                                <label>
                                    <a><img src="/mobile/images/zy_icon_yzm.png"></a><input type="text" name=""
                                                                                            placeholder="请输入验证码">
                                </label>
                                <!--
                                -->
                                <span>获取手机验证码</span>
                            </div>
                            <div class="form_line">
                                <label>
                                    <a><img src="/mobile/images/zy_icon_mm.png"></a><input type="text" name=""
                                                                                           placeholder="请输入6-16位新密码">
                                </label>
                            </div>
                            <button class="zy_login_btn">立即找回</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

