
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

    <div class="zy_login_box">
        <header class="zy_search_top_box">
            <div class="zy_title_top fix">
                <div class="one" href="javascript:" onclick="history.back();"><img src="/mobile/images/back_jt.png"><span>返回</span></div>
                <h1>登录</h1>
                <div class="r">
                    <a href="/mobile/reg">免费注册</a>
                </div>
            </div>
        </header>

        <!-- 内容框 -->
        <div class="zy_module-content">
            <div class="login_box">
                <div class="logo"><img src="/mobile/images/common_img/logo02.png"></div>
                <form action="/Mobile/getLogin">
                    <div class="login_style"><span class="cur">找工作</span><span>找人才</span></div>
                    <script type="text/javascript">
					$(function(){
						$(".login_style span").mousedown(function(){
							$(this).addClass("cur");
							$(this).siblings().removeClass("cur");
						})
					})
                    </script>
                    <div class="form_line">
                        <label><a><img src="/mobile/images/zy_icon_user.png"></a><input type="text" name="userName" placeholder="请输入用户名"></label>
                    </div>
                    <div class="form_line">
                        <label><a><img src="/mobile/images/zy_icon_mm.png"></a><input  type="password" name="userPwd" placeholder="请输入密码"></label>
                    </div>
                    <button class="zy_login_btn">登 录</button>
                    <h2>
                        <label><input type="checkbox" name="">自动登录</label>
                        <a href="/Mobile/findPwd">忘记密码？<span class="ge04">点此找回</span></a>
                    </h2>
                </form>
            </div>
        </div>
    </div>
