
@{
    ViewBag.Title = "通知消息";
    Layout = "~/Views/Shared/_Null.cshtml";
}
<style>
    li {
        border-bottom: dashed 1px #d6d3d3;
    }
</style>
<div class="container">
            <div class="box" style="padding-left:0px">
                <div class="zg_detail "  style="padding-top: 10px">
                    <div class="rows">
                        <ul style="padding-right:20px">
                            <li>
                                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> <a href="/home/zp/">甘肃建投2020年高校毕业生招聘简章</a>
                                &nbsp;&nbsp;<span class="badge" style="background-color: #d75452;">new</span>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> <a href=/home/xq />甘肃建投人才岗位需求汇总表</a>
                                &nbsp;&nbsp;<span class="badge" style="background-color: #d75452;">new</span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

</div>

