
@{
    ViewBag.Title = "甘肃建投人才岗位需求汇总表";
    Layout = "~/Views/Shared/_Null.cshtml";
}

<style>
    body {
    }
    td {
    padding:5px;
    }
    .box {
        margin: 0 auto;
    }
    .b {
        font-weight:bold;
    }
    .text {
        text-indent: 3.6rem;
        line-height: 3.0rem;
        font-size: 1.8rem;
    }
</style>

<div class="container box">
    <table cellpadding="0" cellspacing="0" width="784" border="1" style="margin:0 auto; background-color:white">
        <colgroup>
            <col width="84" style="width:84px" />
            <col width="41" style="width:41px" />
            <col width="188" style="width:188px" />
            <col width="119" style="width:119px" />
            <col width="145" style="width:145px" />
            <col width="207" style="width:207px" />
        </colgroup>
        <tbody>
            <tr height="108" style="height:108px" class="firstRow">
                <td colspan="6" height="108" width="784" style="">
                    <h2 class="text-center">2019年11月组团引才岗位需求汇总表</h2>
                </td>
            </tr>
            <tr height="40" style="height:40px">
                <td rowspan="2" height="108" width="84" style="border-top: none;">
                    招聘单位
                </td>
                <td rowspan="2" width="41" style="border-top: none;">
                    序号
                </td>
                <td colspan="3" style="border-left:none">
                    招聘岗位具体要求
                </td>
                <td rowspan="2" width="207" style="border-bottom: 1px solid black; border-top: none;">
                    优惠政策
                </td>
            </tr>
            <tr height="68" style="height:68px">
                <td height="68" style="border-top: none; border-left: none;">
                    岗位或专业
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    学历（人数）<br /> &nbsp; &nbsp; 研究生3<span style="">8人<br /> &nbsp; &nbsp; 本科生1578人</span>
                </td>
                <td width="145" style="border-top: none; border-left: none;">
                    联系人及联系电话
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td rowspan="26" height="867" width="84" style="border-top: none;">
                    甘肃省建设投资（控股）集团总公司
                </td>
                <td width="41" style="border-top: none; border-left: none;">
                    1
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑设备工程技术
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生 &nbsp; 5人
                </td>
                <td rowspan="26" width="145" style="border-bottom: 1px solid black; border-top: none;">
                    联系人：王慧君<br /> &nbsp; &nbsp; 联系电话：<br /> &nbsp; &nbsp; 0931-2216237<br /> &nbsp; &nbsp; 13919025821
                </td>
                <td rowspan="26" width="207" style="border-top: none;">
                    1.对引进的985、211重点院校优秀毕业生，根据其专业特长，按照人岗相适的原则，安排到相应岗位工作，进行重点培养、重点使用。<br /> &nbsp; &nbsp; 2.对引进的985、211重点院校优秀毕业生，实行与其他同等学历层次人员差异化的薪资待遇标准。<br /> &nbsp; &nbsp; 3.完善生活保障政策。充分利用自身优势，开发新建经济适用房和商品房，以低于市场价的标准向集团内部职工出售，有效解决新入司职工的住房问题。
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    2
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    审计学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生4人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    3
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    经济学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    4
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    植物保护
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生3人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    5
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    机械工艺技术
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生5人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    6
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    材料成型及控制工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生8人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    7
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    工程力学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    8
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    液压传动与控制
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生5人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    9
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    水电安装
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    10
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    金融数学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    11
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    酒店管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生3人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    12
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    车辆工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生4人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    13
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    金融学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生3人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    14
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    采矿工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生4人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    15
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    矿物加工工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生3人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    16
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    播音与主持艺术
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    17
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    秘书学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    18
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    思想政治教育
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生3人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    19
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    网络工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    20
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    管理学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    21
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    税收学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    22
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    物业管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生11人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    23
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    液压
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    24
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    企业管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生2人<br /> &nbsp; &nbsp; 本科生5人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    25
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑与土木工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    26
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生63人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td rowspan="29" height="967" width="84" style="">
                    甘肃省建设投资（控股）集团总公司
                </td>
                <td width="41" style="border-top: none; border-left: none;">
                    27
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    测绘工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
                <td rowspan="29" width="145" style="border-bottom: 1px solid black; border-top: none;">
                    联系人：王慧君<br /> &nbsp; &nbsp; 联系电话：<br /> &nbsp; &nbsp; 0931-2216237<br /> &nbsp; &nbsp; 13919025821
                </td>
                <td rowspan="29" width="207" style="border-top: none;">
                    1.对引进的985、211重点院校优秀毕业生，根据其专业特长，按照人岗相适的原则，安排到相应岗位工作，进行重点培养、重点使用。<br /> &nbsp; &nbsp; 2.对引进的985、211重点院校优秀毕业生，实行与其他同等学历层次人员差异化的薪资待遇标准。<br /> &nbsp; &nbsp; 3.完善生活保障政策。充分利用自身优势，开发新建经济适用房和商品房，以低于市场价的标准向集团内部职工出售，有效解决新入司职工的住房问题。
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    28
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    地质工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    29
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    电子商务
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生3人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    30
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    能源与动力工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    31
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    经济管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生5人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    32
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    材料科学与工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生5人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    33
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    市场营销
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生29人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    34
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    无损检测技术
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    35
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    环境工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生8人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    36
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    过程装备与控制工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    37
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    行政管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生5人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    38
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    道路桥梁与渡河工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生26人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    39
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑工程技术
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生7人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    40
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    暖通
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生13人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    41
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑设计
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    42
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    风景园林
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生15人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    43
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    机械工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生6人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    44
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    无机非金属材料工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    45
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    房地产开发与管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    46
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑电气与智能化
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生19人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    47
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    水利水电工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生34人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    48
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    工程测量技术
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生7人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    49
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    焊接技术与工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生4人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    50
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    环境设计
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生1人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    51
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    人力资源管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生10人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    52
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    机电一体化
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生9人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    53
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    交通工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生4人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    54
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    市政工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生12人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    55
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    财务会计
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生104人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td rowspan="18" height="600" width="84" style="border-bottom: 1px solid black;">
                    甘肃省建设投资（控股）集团总公司
                </td>
                <td width="41" style="border-top: none; border-left: none;">
                    56
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    计算机科学与技术
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生5人
                </td>
                <td rowspan="18" width="145" style="border-bottom: 1px solid black; border-top: none;">
                    联系人：王慧君<br /> &nbsp; &nbsp; 联系电话：<br /> &nbsp; &nbsp; 0931-2216237<br /> &nbsp; &nbsp; 13919025821
                </td>
                <td rowspan="18" width="207" style="border-top: none;">
                    1.对引进的985、211重点院校优秀毕业生，根据其专业特长，按照人岗相适的原则，安排到相应岗位工作，进行重点培养、重点使用。<br /> &nbsp; &nbsp; 2.对引进的985、211重点院校优秀毕业生，实行与其他同等学历层次人员差异化的薪资待遇标准。<br /> &nbsp; &nbsp; 3.完善生活保障政策。充分利用自身优势，开发新建经济适用房和商品房，以低于市场价的标准向集团内部职工出售，有效解决新入司职工的住房问题。
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    57
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    法学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生3人<br /> &nbsp; &nbsp; 本科生21人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    58
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    结构工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生7人<br /> &nbsp; &nbsp; 本科生11人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    59
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    土木工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生4人<br /> &nbsp; &nbsp; 本科生529人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    60
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    工程管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生67人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    61
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    岩土工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生5人<br /> &nbsp; &nbsp; 本科生10人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    62
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    安全工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生44人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    63
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    工程造价
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生136人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    64
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    电气工程及其自动化
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生66人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    65
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    给排水科学与工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生79人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    66
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑环境与能源应用工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生9人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    67
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    机械设计制造及其自动化
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生2人<br /> &nbsp; &nbsp; 本科生16人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    68
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    汉语言文学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    硕士研究生1人<br /> &nbsp; &nbsp; 本科生49人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    69
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    物流管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生22人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    70
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    建筑材料管理
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生7人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    71
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    交通运输工程
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    72
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    统计学
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生2人
                </td>
            </tr>
            <tr height="33" style="height:33px">
                <td height="33" width="41" style="border-top: none; border-left: none;">
                    73
                </td>
                <td width="188" style="border-top: none; border-left: none;">
                    工业与民用建筑
                </td>
                <td width="119" style="border-top: none; border-left: none;">
                    本科生24人
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="text-center">
        <a href="~/upload/XQHZ.xls" class="btn btn-success ">下载该文档</a>
    </div>
</div>

