
@{
    ViewBag.Title = "甘肃建投2020年高校毕业生招聘简章";
    Layout = "~/Views/Shared/_Null.cshtml";
}

<style>
    body {
    }

    .box {
        margin: 0 auto;
    }
    .b {
        font-weight:bold;
    }
    .text {
        text-indent: 3.6rem;
        line-height: 4.0rem;
        font-size: 1.8rem;
    }
</style>
<div class="container box">
    <h2 class="text-center">甘肃建投2020年高校毕业生招聘简章</h2>
    <br>
    <h4 class="b">一、企业简介</h4>
    <div class="text">
        甘肃省建设投资（控股）集团总公司（简称“甘肃建投”），创建于1953年，是中国500强企业、ENR全球最大250家国际承包商、中国承包商80强企业和中国建筑业竞争力百强企业，拥有房屋建筑施工总承包特级资质和房屋建筑、市政公用、机电安装、钢结构工程、建筑装修装饰工程、核工程、土石方工程、起重设备安装等10多项一级资质，拥有对外经营权。所属全资控股子（分）公司50余家，各类专业技术近万人，12名专家享受政府特殊津贴。名列中国企业500强第292位，2018年经济总量达684亿元。
    </div>
    <div class="text">
        六十多年来，甘肃建投承建了大批国家、省市重点工程和社会标志性工程项目，为全国社会经济发展做出了突出贡献。近年来，甘肃建投抢抓“一带一路”战略及国家扶持甘肃发展的各种政策叠加机遇，实践运用产融结合、产城融合发展模式，充分释放在投融资、项目运作、科技研发、技术创新等方面的显著优势。目前，甘肃建投已打造了包括建安、房地产、工业装备制造、海外业务、投融资和科技研发在内的六大经济板块，打造了设备安装、市政路桥、地基基础、水利水电、钢结构、商品混凝土、砂石料、勘察设计、技术咨询、建筑科研、建材科技、物流贸易、建筑劳务等专业板块，形成了多层次的产业结构。
    </div>
    <div class="text">
        在科技进步和自主创新方面，甘肃建投形成了较强的技术特色和技术力量，搭建了包括“国家企业技术中心”、“国家装配式建筑产业基地”、“国家知识产权优势企业”、“国家高新技术企业”、“省级技术转移示范机构”在内的五大科技研发平台，拥有4个“省级企业技术中心”，1个建筑科学研究院、1个科技研发公司、2个专业科研产业公司和3个国家级工程检测实验室，拥有甲级勘察设计资质。据统计，截至2018年年底，甘肃建投获国家科技进步奖2项,全国科学大会奖3项，中国建筑业协会技术创新成果奖2项；甘肃省科技进步奖9项，兰州市科技进步一等奖1项；国家级工法11项，省级优秀工法136项；主持或参与编制国家标准2项、行业标准5项、地方标准45项，授权发明专利28项、实用新型专利252项；国家优质工程“鲁班奖”15项，詹天佑奖1项，省级优质工程飞天金奖33项，飞天奖394项。在装配式建筑领域，甘肃建投被国家住房和城乡建设部认定为全国第一批装配式建筑产业基地，兰州新区十万平方米装配式钢结构住宅小区被认定为全国仅有的8个示范项目之一。构建了以天水、兰州新区、榆中三大装配式建筑产业园为支撑、全省覆盖的绿色装配式建筑产业布局。甘肃建投装备制造业，以高新技术为引领，构建了起重机械、工程机械、隧道掘进机械、风电设备、沙漠治理设备以及专用汽车六大产业体系，已建成兰州彭家坪装备制造产业园、兰州新区工业产业园、武威新能源装备制造产业园、加纳特玛工业产业园四个工业产业园和武威工程与生物治沙试验基地。
    </div>
    <div class="text">
        甘肃建投自1978年开拓海外市场，在非洲、欧洲、亚洲、大洋洲和拉丁美洲的40多个国家和地区承担经援项目、工程承包项目等国际综合性业务。近年来，甘肃建投以中甘国际为平台，坚持对外经营多元化、属地化、集团化的方针，拓展了进出口贸易、劳务输出、商贸等国际综合性外经业务，国际市场竞争能力不断提升，已发展形成以国际建筑工程承包为主，技术与劳务合作、进出口贸易、医药制造、酒店管理、旅游开发、海外房地产、机械租赁和建材生产加工制作为辅的多元化经营格局。
    </div>
    <div class="text">
        甘肃建投在致力于同国家战略融合、与区域发展协调、和世界标准接轨的同时，积极履行社会责任。在舟曲和岷县灾后重建中，甘肃建投作为援建主力军，勇于承担大型国企责任，在落实“精准脱贫”行动中，甘肃建投创新举措，建立“精准扶贫”长效战略合作机制，支持县域经济发展，创造了国企扶贫新机制。
    </div>
    <div class="text">
        甘肃建投确定了十三五“投资引领、集中管控、转型升级、创新发展”的战略思路，提出了打造千亿级一流企业的战略目标。
    </div>
    <div class="text">
        甘肃建投遵循“匠心营造、精益求精”的理念，竭诚与海内外客户开展广泛合作，向社会和市场奉献一流的产品、一流的服务。
    </div>
    <h4 class="b">二、高校毕业生需求专业</h4>
    <div class="text">
        <span class="b">（一）工学：</span> 建筑学，土木工程，结构工程，岩土工程，工程管理，工程造价，道路桥梁工程，市政工程，安全工程，测绘工程，建筑电气与智能化，环境工程，给排水科学与工程，电气工程及其自动化，建筑环境与能源应用工程，机械设计制造及自动化，车辆工程，焊接技术与工程，计算机，无机非金属材料工程，材料科学与工程，无损检测，地质矿产勘查。
    </div>
    <div class="text">
        <span class="b">（二）管理学：</span>财务管理，会计学，审计学，市场营销，工商管理，经济管理，农林经济管理，物业管理、酒店管理，人力资源管理，档案管理，行政管理，房地产开发与管理，物流管理，土地资源管理，统计学。
    </div>
    <div class="text">
        <span class="b">（三）文学及语言类：</span>汉语言文学，思想政治教育，法语、葡语、英语。
    </div>
    <div class="text">
        <span class="b">（四）农学：</span>水土保持与荒漠化防治，园林绿化。
    </div>
    <h4 class="b">三、招聘条件：</h4>
    <div class="text">（一）全日制二本及以上学历；</div>
    <div class="text">（二）身体健康，品行端正；</div>
    <div class="text">（三）专业成绩优秀，综合素质优良；</div>
    <div class="text">（四）中共党员优先，学生干部优先。</div>
    <h4 class="b">四、招聘方式：</h4>
    <div class="text">（一）校园专场招聘会：甘肃建投将于2019年9月份开始，组织下属各单位到省内外重点院校开展专场招聘会，欢迎各地高校毕业生届时现场投递简历。具体专场招聘会时间请到甘肃建投人才招聘网公示公告栏（http://zhaopin.gsjtw.cc/）或合作院校就业信息网查询。</div>
    <div class="text">（二）网络招聘：甘肃建投将于2019年9月份在甘肃建投人才招聘网（http://zhaopin.gsjtw.cc/）发布招聘信息，欢迎各地高校毕业生在我司招聘网站注册会员并完善信息后，选择意向单位投递简历。</div>
    <h4 class="b">五、联系方式</h4>
    <div class="text"> <span class="b">招聘部门：人力资源处</span></div>
    <div class="text"> <span class="b">联系电话：0931-2216237</span></div>
    <div class="text"> <span class="b">邮    箱：：gsjthr@163.com</span></div>
    <br>
    <div class="text-center">
        <a href="~/upload/ZPJZ.docx" class="btn btn-success ">下载该文档</a>
    </div>
</div>

